body {
    font-family: Arial;
    margin:0;
    background:#f5f5f5;
    color:#333;
}

header {
    text-align:center;
    padding:30px;
}

.intro {
    display:flex;
    justify-content:center;
    gap:40px;
    padding:40px;
}

.intro img {
    width:300px;
    border-radius:8px;
}

.skills img {
    width:60px;
    margin:20px;
}

.projects {
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:20px;
    padding:40px;
}

.project-card {
    background:white;
    padding:20px;
    border-radius:8px;
}
